<!DOCTYPE html>
<html>
<style>
h2 {
    text-align:center;
    text-shadow: 2px 2px #808080;
    font-size: 40px;
}
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

.cancelbtn,.signupbtn {
    float: center;
    width: 20%;
}

.container {
    padding: 16px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

</style>
<body>

<h2 style="color:#7CFC00">Sign Up</h2>

<form style="border:1px solid #ccc" action = "/signup" method = "post">
  <div class="container" align="center">
    <label><b>First name</b></label>
    <input type="text" placeholder="Enter First name" name="firstname" required>
    <br>
    <label><b>Last name</b></label>
    <input type="text" placeholder="Enter Last name" name="lastname" required>
    <br>
    <label><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>
    <br>
    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>
    <br>
    <label><b>Confirm Password</b></label>
    <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
    <br>
    <p>By creating an account you agree to our Terms & Conditions</a></p>

    <div class="clearfix" align="center">
      <button type="submit" class="signupbtn">Sign Up</button>
      
      
    </div>
  </div>
</form>

</body>
</html>
